<!DOCTYPE html>
<html lang="{{ constant('WEBSITE_LANGUAGE')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <meta name="description" content="{%if description is defined %} {{description}} {% else %} {{constant('WEBSITE_DESCRIPTION')}} {% endif %}">
    {% block css %} {% endblock %}
    <title>{% block title %} {{ constant('WEBSITE_TITLE')}}{% endblock %}</title>
</head>
<body class="container">
    