{% extends 'base_template.html.twig' %}

{% block content2 %}


    {% if utilisateurConnecte is defined %}
    {% set banniere = 'img/banniere/' ~ (utilisateurConnecte.banniereProfil) %}
    {% set photo = 'img/profils/' ~ (utilisateurConnecte.photoProfil) %}

        <div class="image-bg container-fluid"
             style="background-image: url('{{ banniere }}'); 
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             height: 30vh;
             position: relative">
            <div class="rounded-circle" 
                 style="background-image: url('{{ photo }}');
                 height: 150px; 
                 width: 150px; 
                 background-size: cover; 
                 background-position: center;
                 position: absolute;
                 top: 50%;
                 left: 8%;
                 transform: translateY(-50%);
                 border: 4px solid #fff;">
            </div>
  <a href="javascript:history.back()" class="btn btn-primary mt-2 ms-2">Retour</a>

        </div>


      <div class="container mt-3 my-3">
          <h2>{{ utilisateurConnecte.pseudo }}</h2>
          {% if utilisateurConnecte.bio is not empty %}
            <h6>{{ utilisateurConnecte.bio }}</h6>
          {% else %}
            <h6>Aucune bio .</h6>
          {% endif %}
      </div>
  

   
    <div class="d-flex justify-content-around p-3 border-bottom">
        <a href="index.php?controleur=profil&methode=afficherAPropos&id=1" class="btn mx-2" style="background-color: #2f4f4f; color: #e3d5b8;">A propos</a>
        <a href="index.php?controleur=profil&methode=afficherFormulaire" class="btn mx-2" style="background-color: #2f4f4f; color: #e3d5b8;">Paramètres</a>
         <a href="index.php?controleur=profil&methode=listerNotif&idNotif=1" class="btn mx-2" style="background-color: #2f4f4f; color: #e3d5b8;">Notifications</a>
    </div>
    {% endif %}


    {% endblock %} 

