{% extends 'base_template.html.twig' %}

    {% block content2 %} 

    <div class="image-bg container-fluid"
        style="background-image: url('/~ldhildevert/VHS/Video-Home-Share/img/turtleTestBanniere.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        position: relative">
            <!--Image de profil-->
           <div class="rounded-circle " 
                style="background-image: url('/~ldhildevert/VHS/Video-Home-Share/img/tortueProfil.png');
                height: 120px; 
                width: 120px; 
                background-size: cover; 
                background-position: center;
                position: absolute;
                top: 50%;
                left: 8%;
                transform: translateY(-50%);">
            </div>
    </div>

 
    {% endblock %} 