{% extends 'base_template.html.twig' %}
{% block content %}
    <h1>Liste des forums</h1>
    {% if forumListe is not defined %}
        <p>Aucun forum</p>
    {% else %}
        <div class="container">
            {% for forumList in forumListe %}
                <div class="card mb-3" style="background-color: #D2B48C;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{ forumList.nom }}</h5>
                            </div>
                            <div class="col-4 text-end">
                                <a href="index.php?controleur=forum&methode=afficherForum&idForum={{forumList.idForum}}" class="btn btn-primary">Voir en détail</a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p class="card-text">{{ forumList.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4 mb-3">
            <a href="index.php?controleur=watchlist&methode=listerWatchListVisible&id=1" class="btn btn-secondary">Parcourir les forums</a>
        </div>
    {% endif %}
{% endblock %}
