{% extends 'base_template.html.twig' %}
{% block title %}Mot de passe oublié - {{ constant('WEBSITE_TITLE') }}{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="btn btn-primary mt-2 ms-2 ilFautPatienter">Retour</a>

    {% if message is defined %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <form action="index.php?controleur=utilisateur&methode=motDePasseOublie" method="POST" class="text-center col-12 col-md-6 col-lg-4 mx-auto my-auto p-4">
        <div class="bg-mydark rounded p-4 mb-5">
            <h3 class="mb-3 fw-bold">Mot de passe oublié</h3>
            <p class="mb-4">Veuillez saisir votre adresse email. Un lien de réinitialisation vous sera envoyé si l'adresse est reconnue.</p>

            <!-- Champ Email -->
            <div class="form-group mb-3">
                <label for="email" class="d-block text-start mb-0">Adresse email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>

            <input type="submit" class="btn btn-primary my-2 mx-auto" value="Envoyer le lien de réinitialisation">

            <div class="mt-3">
                <a href="index.php?controleur=utilisateur&methode=connexion" class="text-decoration-none">Retour à la connexion</a>
            </div>

			<input type="hidden" name="currentUrl" id="currentUrl">
        </div>
    </form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Récupérer l'URL actuelle
        let currentUrl = window.location.href;

        // Insérer l'URL dans le champ caché
        document.getElementById('currentUrl').value = currentUrl;
    });
</script>

{% endblock %}
