{% extends 'base_template.html.twig' %}

{% block content %}

<div class="container text-center">
    <div class="d-flex justify-content-center">
        <br<br><br><br>
        <form>
            <div class="mb-3">
                <input type="" placeholder="Entrez votre adresse e-mail..." class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">J'accepte de recevoir des mails promotionnels</label>
            </div>
            <div class="mb-3 form-check text-center">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">J'ai lu et j'accepte la politique de confidentialité</label>
            </div>
            <a href="#">Consulter notre politique de confidentialité</a>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}