{% extends "base_template.html.twig" %}

{% block content %}
<h1>Liste des Personnes</h1>
<ul>
    {% for personne in personnesListe %}
        <li>
            {{ personne.nom }} {{ personne.prenom }} - {{ personne.dateNaiss|date("d/m/Y") }} - {{ personne.genre }}
        </li>
    {% else %}
        <li>Aucune personne trouvée.</li>
    {% endfor %}
</ul>
{% endblock %}
